<div class="table-responsive">
  <table class="table table-condensed table-responsive table-user-information">
    <tbody>
      <tr>
        <td>
          <strong>
            <span class="glyphicon glyphicon-cloud text-primary"></span>
            Age
          </strong>
        </td>
        <td class="text-primary">
          23
        </td>
      </tr>

      <tr>
        <td>
          <strong>
            <span class="glyphicon glyphicon-bookmark text-primary"></span>
            Blood Group
          </strong>
        </td>
        <td class="text-primary">
          A+
        </td>
      </tr>


      <tr>
        <td>
          <strong>
            <span class="glyphicon glyphicon-eye-open text-primary"></span>
            Gender
          </strong>
        </td>
        <td class="text-primary">
          Male
        </td>
      </tr>
      <tr>
        <td>
          <strong>
            <span class="glyphicon glyphicon-eye-open text-primary"></span>
            Weight
          </strong>
        </td>
        <td class="text-primary">
          54.3
        </td>
      </tr>
    </tbody>
  </table>
</div>