<div class="my-card3">
  <div class="s-body">
    <div class="row">
      <div class="col-sm-6 col-md-4 text-center">
        <div class="s-body-circle">
          <img src="assets/images.jpg" alt="image">
        </div>
      </div>
      <div class="col-md-8 text-center">
        <span class="user-name">Justin</span><br />
        <span class="age">Age - 23</span><br>
        <i class="fa fa-dot-circle"></i>
        <Span class="see">Normal</Span>

      </div>
    </div>
  </div>
  <div class="s-footer ">
    <a href="#">
      <span>see more</span>
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
</div>